* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 2px;
    width: 30%;
    height: 20rem;
    margin: 0 auto;
    margin-top: 10rem;
}
 th, td {
    border: 1px solid black;
    
}
 th {
    padding: 1rem 0;
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    border-radius: 2px;
 }
 td {
    font-weight: 800;
    text-align: center;
    font-size: 22px;
 }
.A {
    background-color: rgb(28, 146, 111);
    color: white;
    border: 1px solid rgb(28, 146, 111);
    text-align: center;
}
.B {
    color: white;
    background-color:rgb(121, 67, 16);
    border: 1px solid rgb(121, 67, 16);
    text-align: center;
}
.letter-c {
    background-color: rgb(202, 55, 129);
   border: 1px solid rgb(202, 55, 129);
    outline: none;
    text-transform: capitalize;
    color: aliceblue;
    text-align: center;
    font-weight: 800;
}
.D {
    color: white;
    background-color: cadetblue;
    border: 1px solid cadetblue;
    text-align: center;
}
.E {
    background-color: darkslategrey;
    color: white;
    border: 1px solid darkslategray;
    text-align: center;
}
.F {
    background-color: darkorchid;
    color: white;
    border: 1px solid darkorchid;
    text-align: center;
}
